*{
    font-weight: 400;
}
.table{
    width: 100%;
}

.table #total{
    font-weight: 700;
    text-align: center;
    padding-left: 170px;
}
.table, th, tr, td{
    margin: 10px;
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}


.table-dark{
    background-color: black;
    color: white;
}